.cakebiteImage {
    object-fit: fit;
    object-position: -10% 10;
    box-sizing: border-box;
    width: 350px;
    height: 230px;
    border-radius: 20px;
    max-height: 100%;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
    background-color: #00acb0;
    padding: 7px;

  }

  .greeting2 {
    /* text-align: center; */
      font-size: xx-large;
      font-family: "Playwrite ES", cursive;
      font-optical-sizing: auto;
      font-style: normal;
  }


  .outerdiv {
    columns: 3;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
/* 
  .outerdiv {
    display: flex;
    flex-wrap: wrap;
  } */