
.modal-content {
  background: #53bdbf;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  max-width: 600px;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.modal-close {
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  background: #8a49df;
  color: white;
  cursor: pointer;
}

.modalRight {
  width: 100%;

}

.modal-btn {
  display: inline-block;
  padding: 5px 10px;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin: .5rem;
  
}
